.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;

    &__form {
        position: relative;
        width: 30rem;
        background-color: $color-2;
        border: 1px solid $color-4;

        input,
        button {
            height: 4rem;
            border: 0;

            font-family: 'Roboto Slab', serif;
            font-weight: 300;
            font-size: 2rem;
        }

        input[type="search"] {
            outline: 0;
            width: 100%;
            padding: 0 1rem;
            appearance: none;
            transition: all .4s cubic-bezier(0, 0, 0.43, 1.49);
            transition-property: width, border-radius;
            z-index: 1;
            position: relative;
        }

        button {
            display: none;
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 0;
            width: 6rem;
            background-color: $color-2;
            transition: all .5s cubic-bezier(0, 0, 0.43, 1.49);
            transition-property: background-color, color;
            font-size: 2rem;

            &:hover {
                background-color: $color-4;
                color: $color-2;
            }
        }

        input:not(:placeholder-shown) {
            width: calc(100% - 6rem);

            +button {
                display: block;
            }
        }

    }
}